vrrp_script chk_haproxy {
   script   "killall -0 haproxy"
   interval 2
   weight   2
}

vrrp_instance mysql_cluster {
   interface         {{vip_interface}}
   virtual_router_id 42
   priority          {{vrrp_priority}}
   advert_int        1

   virtual_ipaddress {
      {{vip}} dev {{vip_interface}}
   }

   track_script {
      chk_haproxy
   }

   authentication {
      auth_type PASS
      auth_pass {{auth_password}}
   }
}
